@{
    if (@ViewBag == 2)
    {
        Layout = "~/Views/Shared/_LayoutMobile.cshtml";
    }

}
<style>
    .border__input__navbar {
        border-radius: 25px !important;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-12 px-0">
            <nav class="navbar navbar-light bg-success">
                <form class="form-inline w-100">
                    <div class="input-group">

                        <input type="text" class="form-control border__input__navbar" placeholder="Tìm kiếm gì đó"
                               aria-label="Username" aria-describedby="basic-addon1">
                        <div class="p-1 pl-2">
                            <i class="fa fa-cart-plus fa-2x"></i>
                        </div>
                    </div>
                </form>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 px-0">
            <div class="row">
                <div class="col-3">
                    1
                </div>
                <div class="col-3">
                    1
                </div>
                <div class="col-3">
                    1
                </div>
                <div class="col-3">
                    1
                </div>
            </div>

        </div>
    </div>
</div>